.contenedor{
    width: 100%;
}

.logo>img{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.redes>img{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.redes, .logo{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nombre{
    color: yellow;
    background-color: red;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.carrusel{
    display: flex;
    justify-content: center;
}